
.modal-body{
	padding: 0px;
}
.version{
    margin-top: 20px;
}
.details{
    margin-left: 30px;
}
.header{

}
.jumbotron-header h1{
    margin-bottom: 20px;
}
.jumbotron-header p{
    margin-bottom: 80px;
}
.thumb{
}